@import url('styles/fonts.css');
@import url('styles/reset.css');

p {
    user-select: none;
}

body {
    background: rgb(48, 47, 47);
}

.white-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgb(2, 196, 255);
}

.dark-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgb(157, 242, 255);
}

.board {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.rows {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    align-items: center;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    gap: 300px;
}

.circle-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.circle-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.score-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 300px;
    height: 80px;
    border-radius: 20px;

    p {
        font-size: 40px;
    }
}

.bottom-buttons-container {
    position: absolute;
    top: 440px;
    left: -10px;
    display: flex;
    gap: 20px;
}

.play-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    background: white;
    border-radius: 20px;

    p {
        font-size: 40px;
    }
}

.settings-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;
    background: white;
    border-radius: 20px;
}

@keyframes hoverButtonAnim1 {
    from {}

    to {
        background: lightblue;
    }

}

@keyframes hoverButtonAnim2 {
    from {}

    to {
        background: lightcoral;
    }

}

@keyframes hoverButtonAnim3 {
    from {}

    to {
        background: lightgreen;
    }

}

@keyframes hoverButtonAnim4 {
    from {}

    to {
        background: lightyellow;
    }

}

@keyframes hoverButtonAnim5 {
    from {}

    to {
        background: lightpink;
    }

}
@media (max-width: 768px) {
    .header {
        gap: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .circle-button {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 450px) {
    .header {
        gap: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #timerID{
        width: 30px !important;
        height: 30px !important;
        p{
            font-size: 16px !important;
        }
    }
    .circle-button {
        width: 50px;
        height: 50px;
    }
    .bottom-buttons-container{
        left: 50px;
    }
    .score-button{
        p{
            font-size: 28px
        }
    }
    .play-button{
        width: 200px;
        height: 70px;
    }
    .settings-button{
        width: 70px;
        height: 70px;
    }
}